/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Pixels&family=Silkscreen:wght@400;700&family=Space+Grotesk:wght@300..700&family=VT323&display=swap");

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-image: url(images/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Space Grotesk";
  font-size: larger;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

header {
  background-color: transparent;
  color: white;
  padding: 0px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 100vh;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  height: 100vh;

  float: right;
}

nav ul li {
  margin: 0;
  padding: 2.5px;
  width: 13%;

  img {
    text-align: center;
    width: 96%;
    border: 4px solid;
  }
}

nav ul li a {
  text-align: center;
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  padding: 5px 10px 5px 10px;
  background-color: rgba(255, 255, 255, 0.452);
  border-left: 4px solid rgb(81, 81, 81);
  border-bottom: 4px solid rgb(81, 81, 81);
  border-top: 2px solid white;
  border-right: 2px solid white;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

nav ul li a:hover {
  background-color: rgb(228, 209, 255);
  border: 2px solid black;
  scale: 110%;
}

.section-background {
  position: relative;
  height: 100vh;
}

.section-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

section {
  padding: 0px 20px;
  text-align: center;
  margin-top: 0px;
  height: 100vh;
}

h1 {
  background-color: rgba(0, 0, 0, 0.503);
  font-size: 150px;
  text-shadow: 2px 2px 2px black;
  font-family: "Space Grotesk";
  font-weight: 900;
  color: rgb(255, 255, 255);
  padding: 0 30px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-left: 4px solid rgb(0, 0, 0);
  border-bottom: 4px solid rgb(79, 79, 79);
  border-top: 2px solid rgb(79, 79, 79);
  border-right: 2px solid rgb(79, 79, 79);
  position: relative;
  z-index: 2;
}

p {
  font-size: 30px;
  position: relative;
  z-index: 2;
}

h2 {
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

#home {
  background: url("your-image.jpg") no-repeat center center/cover;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1,
p {
  animation: fadeIn 2s ease-in-out;
}

#about {
  background: url("images/about.png") no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  position: relative;
}

#about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#about h2,
#about p {
  width: 80%;
  position: relative;
  z-index: 2;
}

#about h2 {
  font-size: 80px;
  text-shadow: 2px 2px 2px rgb(255, 68, 0);
  color: rgb(255, 228, 192);
  font-weight: 500;
}

#about p {
  text-align: justify;
  padding: 0 30px;
  text-shadow: 2px 2px 2px black;
  font-size: 28px;
}

#education {
  background: url(images/education.png) no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: relative;
}

#education::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#education h2,
#education ul {
  width: 80%;
  position: relative;
  z-index: 2;
}

#education ul {
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 2px black;
}

#education ul img {
  display: block;

  padding: 10px;
  height: 180px;
  margin-right: 30px;
}

.college img {
  filter: invert(100%) brightness(500%);
  padding: 10px 25px !important;
}

#education h2 {
  font-size: 80px;
  text-shadow: 2px 2px 2px rgb(0, 255, 255);
  color: rgb(255, 255, 255);
  font-weight: 500;
}

#education h3 {
  text-align: left;
  font-size: 30px;
  position: relative;
  z-index: 2;
  color: rgb(194, 189, 255);
}

#education p {
  text-align: left;
  font-size: 24px;
  position: relative;
  z-index: 2;
  color: rgb(255, 255, 255);
}

/* CSS to flip the background image horizontally */
#experience {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

#experience::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/experience.png") no-repeat center center;
  background-size: cover;
}

#experience::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
#experience h2,
#experience ul {
  width: 80%;
  position: relative;
  z-index: 3;
}

#experience ul {
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 2px black;
}

#experience ul img {
  display: block;

  padding: 10px;
  height: 180px;
  margin-right: 20px;
}

#experience h2 {
  font-size: 80px;
  text-shadow: 2px 2px 2px rgb(0, 174, 255);
  color: rgb(255, 255, 255);
  font-weight: 500;
}

#experience h3 {
  text-align: left;
  font-size: 30px;
  position: relative;
  z-index: 3;
  color: rgb(92, 247, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

#experience p {
  text-align: left;
  font-size: 24px;
  position: relative;
  z-index: 3;
  color: rgb(255, 255, 255);
}

#projects {
  height: 100%;
  background: url(images/projects.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#projects::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

#projects h2,
#projects ul {
  width: 80%;
  position: relative;
  z-index: 2;
}

#projects ul {
  display: flex;
  text-shadow: 2px 2px 2px black;
  flex-direction: column;
  color: white;
  padding: 0 30px;

  li {
    text-align: left;

    .project-title {
      text-align: left;
      font-size: 30px;
      position: relative;
      z-index: 3;
      color: rgb(255, 243, 187);
      text-shadow: 2px 2px 2px rgb(0, 0, 0);
      font-weight: 400
    }
    .h3 {
      color: aqua;
      font-weight: 700;
    }
    p {
      font-size: 20px;
    }
  }
}

#projects h2 {
  font-size: 80px;
  text-shadow: 2px 2px 2px rgb(0, 174, 255);
  color: rgb(255, 255, 255);
  font-weight: 500;
}

#skills {
  height: 100vh;
  background: url(images/skills.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#skills::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

#skills h2,
#skills ul {
  width: 80%;
  position: relative;
  z-index: 2;
}

#skills ul {
  display: flex;
  text-shadow: 2px 2px 2px black;
  flex-direction: column;
  color: white;
  padding: 0 30px;

  li {
    text-align: left;
    font-size: 28px;

    span {
      display: block;
      padding: 5px 0;
    }
  }
}

#skills h2 {
  font-size: 80px;
  text-shadow: 2px 2px 2px rgb(0, 174, 255);
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.skill {
  font-weight: 600;
}

#contact {
  background: url(images/other.png) no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  position: relative;
}

#contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#contact h2,
#contact p {
  width: 80%;
  position: relative;
  z-index: 2;
}

#contact h2 {
  font-size: 80px;
  text-shadow: 2px 2px 2px rgb(255, 68, 0);
  color: rgb(255, 228, 192);
  font-weight: 500;
}

#contact p {
  text-align: justify;
  padding: 0 30px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 28px;
  color: white;
  z-index: 2000;

  a {
    text-decoration: none;
    color: white;
    padding-right: 20px;
    font-size: 32px;
  }
}

footer {
  background-color: black;
  color: white;

  p {
    margin: 10px;
    font-size: 20px;
    text-align: center;
  }
}
